ffmpeg-python
pydub==0.25.1
openai==0.28.1
openai_whisper==20230918
webvtt-py
pysrt
pyannote.audio
pyannote.database
pyannote.core
pyannote.pipeline
streamlit==1.21.0
streamlit-authenticator
google-cloud-bigquery